<ul class="items-list">
{{#each controller itemController="emberModelsItem"}}
  <li class="items-list__item">
    {{#unless isEditing}}
      <span {{action edit on="doubleClick"}}>{{name}} </span>
      <button class="btn btn-danger" {{action removeRecord this}}>Delete</button>
    {{else}}
      <form {{action save model on="submit"}}>
        {{view Ember.TextField valueBinding="name"}}
        <button class="btn btn-primary" type="submit">Save</button>
        <button class="btn btn-danger" {{action "cancel"}}>Cancel</button>
      </form>
    {{/unless}}
  </li>
{{/each}}
</ul>
{{#linkTo "ember_models.new" class="btn btn-primary"}}
  <i class="icon-plus-sign icon-white"></i> New Model
{{/linkTo}}